<div role="dialog">
  <div class="modal-header">
    <a class="close" ng-click="cancel()">&times;</a>
    <h3>{[{ "Registry Dialog" }]}</h3>
  </div>
  <div class="modal-body">
    <alert ng-repeat="alert in alerts" class="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
    <form class="form-horizontal" role="form" novalidate>
      <div class="form-group">
        <label class="col-sm-4 control-label"><strong>{[{ "Username" }]}</strong></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="input.username" placeholder="(Required)" required autofocus />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label"><strong>{[{ "Email" }]}</strong></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="input.email" placeholder="(Required)" required />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label"><strong>{[{ "Password" }]}</strong></label>
        <div class="col-sm-6">
          <input type="password" class="form-control" ng-model="input.password" placeholder="(Required)" required />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label"><strong>{[{ "Password Again" }]}</strong></label>
        <div class="col-sm-6">
          <input type="password" class="form-control" ng-model="input.password_again" placeholder="(Required)" required />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{[{ "Submit" }]}</button>
    <button class="btn btn-warning" ng-click="cancel()">{[{ "Cancel" }]}</button>
  </div>
</div>
