<!DOCTYPE html>
<html lang='zh-cn'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css">
  <script src="/static/lib/jquery-2.1.0.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/angular.min.js"></script>
  <title>pa dian index</title>
</head>
<body>
  <!--top navigation -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Index</a></li>
          <li><a href="#about">Entertainment</a></li>
          <li><a href="#contact">Sport</a></li>
          <li><a href="#contact">Culture</a></li>
          <li><a href="#contact">Travel</a></li>
          <li><a href="#contact">Tec</a></li>
          <li><a href="#contact">Food</a></li>
          <li><a href="#contact">Fashion</a></li>
          <li><a href="#contact">Others</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Login</a></li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </div>
  </div><!--end top container-->
  <!--content container -->
  <div class="container" style="margin-top:70px">
    <!-- subject content-->
    <div class="row">
      <!-- left side content-->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <span class="text-primary h4">Entertaniment</span>
            <span class="h6">Songs</span>
            <span class="h6">Movies</span>
            <span class="h6">Bagua</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" style="margin-top:10px">
            <div class="row">
              <div class="col-md-12">
                <div class="well" style="padding:8px">
                  <img/>
                  <h4 class="text-primary">bbbb</h4>
                  <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                  <p class="h6">2014/12/13</p>
                </div>
                <!--div class="well thumbnail" style="margin-top:10px">
                  <img/>
                  <div class="caption">
                    <h4>sssss</h4>
                    <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                    <p class="h6">2014/12/13</p>
                  </div>
                </div-->
              </div>
            </div>
          </div> 
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-primary">aaa</h4>
                <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                <p class="h6">2014/12/13</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-primary">aaa</h4>
                <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                <p class="h6">2014/12/13</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-primary">aaa</h4>
                <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                <p class="h6">2014/12/13</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-primary">aaa</h4>
                <p>aaac  saaa aaaa ssss aaa aaas vsss aaaa aaaa sss a a aaaaa aaaa oo ooaa oooa oooa aaa</p>
                <p class="h6">2014/12/13</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end left side content-->
      <!-- right side navagation-->
      <div class="col-md-3" role="navigation">
        <div class="panel panel-primary">
          <div class="panel-heading">TOP 10 This Week</div>
          <table class="table table-condensed table-striped table-hover">
            <tr><td><a>aaaaa</a></td></tr> 
            <tr><td><a>aaaaaooo</a></td></tr> 
            <tr><td><a>aaaaappppp</a></td></tr> 
            <tr><td><a>aaaaa55</a></td></tr> 
            <tr><td><a>aaaaallllllllllllllll</a></td></tr> 
            <tr><td><a>aaaaa</a></td></tr> 
            <tr><td><a>aaaaaooo</a></td></tr> 
            <tr><td><a>aaaaappppp</a></td></tr> 
            <tr><td><a>aaaaa55</a></td></tr> 
            <tr><td><a>aaaaallllllllllllllll</a></td></tr> 
          </table>
        </div>
      </div><!-- right side content-->
    </div><!-- end subject content-->
    <!-- footer -->
    <hr>
    <div class="row">
      <div class="col-md-9">
        <span class="text-primary">© 2005-2014 pdb.com, all rights reserved.</span>
      </div>
      <div class="col-md-3">
        <ul class="list-inline">
          <li><a>About</a></li>
          <li><a>Contact</a></li>
          <li><a>Disclaimer</a></li>
          <li><a>Help</a></li>
        </ul>
      </div>
    </div><!--end footer-->
  </div><!-- end content container-->
</body>
</html>
