{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Publish Article" %}{% endblock %}
{% block js %}
 <script src="/static/js/jquery.hotkeys.js"></script>
 <script src="/static/js/bootstrap_wysiwyg.js"></script>
 <script src="/static/js/publishapp.js"></script>
 <script src="/static/js/publishctrl.js"></script>
{% endblock %}
{% block content %}
<div ng-controller="PublishCtrl" class="row publish col-md-12">
  <div class="col-md-6">aaa</div>
  <div class="col-md-6">
    <div id="edit" style="overflow:scroll; max-length:300px"></div>
  </div>
</div>
{% endblock %}
